@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  width: 100%;
  height: 1070px;
  /* overflow-x: hidden; */
  display: flex;
  background: #fff;
}

p{
  margin: 0;
}

li{
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
}
 
.navBar{
  width: 15rem;
  height: 1070px;
  /* background-color: #ebebeb; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar .nav-title{
  font-size: 20px;
  font-weight: 800;
  line-height: 27.28px;
  text-align: center;
  color: #000;
  margin-top: 24px;
  margin-bottom: 24px;
}

.navBar .nav-title span{
  color: #4880FF;
}

.Items{
  width: 100%;
  align-items: center;
}

.nav-menu{
  margin: 0;
  padding: 0;
  position: relative;
  border-bottom: solid 1px #E0E0E0;
}

.last{
  border-bottom: none;
}

.nav-menu .navItemContainer li{
  width: 15rem;
  height: 50px;
  cursor: pointer;
}

.nav-menu .navItemContainer li a i{
  margin: 0 16px;
}

.nav-menu .navItemContainer li a.activeNavItem{
  background-color: #4880FF;
  color: #fff;
}

.nav-menu .navItemContainer{
  position: relative;
}

.nav-menu .navItemContainer .theLine{
  height: 50px;
  width: 5px;
  background: #4880FF;
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-20px);
  transition: 0.4s;
}

.nav-menu .navItemContainer li a{
  display: flex;
  align-items: center;
  width: 80%;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.1px;
  border-radius: 5px;
  margin: 0 24px;
  color: #202224;
}

.sub-nav-title{
  width: 15rem;
  height: 50px;
  color: #202224;
  font-size: 12px;
  padding: 24px 40px 0 40px;
}

/* -----------------------------=============----------------------- */

.Dashboard{
  width: 75.125rem;
  height: 1070px;
}

header{
  width: 75.125rem;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.header-left{
  display: flex;
  align-items: center;
}


.header-left .search{
  width: 24.25rem;
  height: 38px;
  margin: 0 0 0 24px;
  background-color: #F5F6FA;
  border: solid 0.6px #D5D5D5;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.header-left .search input{
  background: transparent;
  border: none;
  outline: none;
  margin-left: 15px;
}


.header-right{
  display: flex;
  align-items: center;
}

.header-right .bell{
  font-size: 25px;
  margin: 0 26px 0 0;
  position: relative;
  color: #3D42DF;
}
.header-right .bell::after{
  position: absolute;
  content: '';
  top: -3px;
  right: -4px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F93C65;
}

.chooseLang{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 123.08px;
  height: 27px;
  color: #646464;
}

.chooseLang p{
  margin: 0;
}

.chooseLang img{
  width: 40px;
  height: 40px;
}


.usersection{
  margin-left: 26.92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 169px;
  height: 44px;
}

.usersection p{
  margin: 0;
}

.usersection img{
  width: 44px;
  height: 44px;
}

.userName{
  font-size: 14px;
  font-weight: 700;
  line-height: 16.37px;
}

.Admin{
  font-size: 12px;
  font-weight: 600;
  line-height: 19.1px;
}

.mainContent{
  width: 75.125rem;
  height: 1000px;
  background-color: #F5F6FA;
  padding: 30px 30px 0 30px;
}

.mainContent .main-content-title{
  font-size: 32px;
  line-height: 43.5px;
  margin-bottom: 30px;
}

.boxes-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detailsBox{
  width: 16.375rem;
  height: 161px;
  border-radius: 10px;
  background-color: #fff;
  padding: 16px;
  display: flex;
  position: relative;
}

.box-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxTitle{
  font-size: 16px;
  color: #202224;
}

.boxNumber{
  font-size: 28px;
  line-height: 38.19px;
  color: #202224;
  font-weight: 700;
}

.theGraph{
  font-size: 16px;
  line-height: 22px;
}

.theGraph span.up{
  color: #00B69B;
}
.theGraph span.down{
  color: #F93C65;
}

.detailsImg img{
  width: 70px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 16px;
}

.mainGraph{
  margin-top: 30px;
  padding: 30px 30px 116px 30px;
  width: 71.125rem;
  height: 444px;
  border-radius: 10px;
  background-color: #fff;
}

.graph{
  position: relative;
}

.mainGraph-title{
  font-size: 24px;
  line-height: 20px;
  color: #202224;
  font-weight: 650;
}

.vertical{
  font-size: 12px;
  color: #2B3034;
  height: 245px;
  width: fit-content;
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.horizontal{
  font-size: 12px;
  color: #2B3034;
  display: flex;
  width: 966px;
  margin-left: 108px;
  justify-content: space-between;
}

.graph1{
  position: absolute;
  top: 0;
}
.graph2{
  position: absolute;
  top: 44px;
  right: 0;
}

.graph-data{
  width: 80px;
  height: 22px;
  background-color: #4880FF;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  left: 29.5%;
  z-index: 5;
}

.graph-data::after{
  content: '';
  position: absolute;
  bottom: -15px;
  left: 43%;
  width: 0;
  height: 0;
  border-top: 8px solid #4880FF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
}


.Deal-details{
  width: 71.125rem;
  background: #fff;
  margin-top: 30px;
  padding: 30px 30px 0 30px;
  border-radius: 10px;
}

.mainGraph .title,
.Deal-details .title{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mainGraph .title h2,
.Deal-details .title h2{
  margin-bottom: 30px;
}

.mainGraph .title .date,
.Deal-details .title .date{
  width: 104px;
  height: 28px;
  border-radius: 5px;
  background-color: #FCFDFD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 0.6px solid #D5D5D5;
}
.mainGraph .title .date i,
.Deal-details .title .date i,
.mainGraph .title .date p,
.Deal-details .title .date p{
  color: #2B303466;
  font-size: 12px;
  margin: 0;
}

.Row1{
  display: flex;
  align-items: center;
  width: 67.125rem;
  height: 48px;
  background: #F1F4F9;
  border-radius: 10px;
  padding: 0 24px;
}

.Row1 .Product-Name{
  margin-right: 130px;
}
.Row1 .Location{
  margin-right: 195px;
}
.Row1 .Date-Time{
  margin-right: 155px;
}
.Row1 .Piece{
  margin-right: 65px;
}
.Row1 .Amount{
  margin-right: 92px;
}
/* .Row1 .Status{
  margin-right: 80px;
} */

.Row1 p{
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
}

.Deal{
  margin: 15px 0 0 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  width: 67.125rem;
  height: 75px;
}

.Deal .Product-Name{
  display: flex;
  align-items: center;
}

.Deal .Product-Name img{
  margin-right: 16px;
}

.Deal .Status{
  width: 93px;
  height: 27px;
  border-radius: 50px;
  background: #00B69B;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* ================================================================================================= */

.advertise{
  position: relative;
  width: 1141px;
  height: 346px;
  background-color: #4880FF;
  border-radius: 10px;
  padding: 50px 0 50px 130px;
}

.advertiseDate{
  color: #fff;
  font-size: 16px;
}
.advertiseContent{
  color: #fff;
  font-size: 37px;
  line-height: 48px;
  font-weight: 800;
  margin: 15px 0;
}
.advertiseFooter{
  color: #fff;
  font-size: 16px;
}
.advertiseBtn{
  color: #fff;
  font-size: 16px;
  background-color: #FF8743;
  width: 156px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.arrows{
  position: absolute;
  width: 1030px;
  top: 50%;
  left: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows i{
  width: 41px;
  height: 41px;
  border-radius: 50%;
  color: #363636;
  cursor: pointer;
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media(max-width:1366px){
  body{
    transform: scale(0.94);
    overflow-x: hidden;
  }
} */


.products{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product{
  width: 361px;
  height: 497px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
}

.productInfo{
  padding: 15px;
  position: relative;
}

.product img{
  width: 361px;
  height: 317px;
  margin-bottom: 24px;
  border-radius: 10px;
}

.productName{
  font-weight: 700;
  font-size: 18px;
}
.productPrice{
  font-weight: 700;
  font-size: 16px;
  color: #4880FF;
}
.productRate{
  color: #FF9500;
  display: flex;
  align-items: center;
}
.productRate p{
  color: #00000057;
  display: inline;
  font-size: 14px;
}

.productBtn{
  width: 126px;
  height: 38px;
  border-radius: 10px;
  background-color: #E2EAF8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  color: #202224;
  margin-top: 15px;
}

.theHeart{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #F9F9F9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}